.counterWrapper {
    width: 600px;
    margin: 100px auto;
    border: 3px solid darkturquoise;
    border-radius: 10px;
    background: #282c34;
}

.counterValueWrapper {
    margin: 15px;
    border-radius: 10px;
    background: darkturquoise;
}

.counterValue {
    padding: 70px 0;
    text-align: center;
    margin: 0;
    font-size: 56px;
    color: #282c34;
}

.counterButton {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    border: 3px solid darkturquoise;
    border-radius: 10px;
    background: #282c34;
}

.wrapperButtonsSettings{
    justify-content: center;
}

.disabled {
    opacity: 0.5;
}

.button {
    width: 160px;
    cursor: pointer;
    font-size: 32px;
    font-weight: bold;
    background: darkturquoise;
    color: #282c34;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}

.maxValue {
    color: #ff5a5a;
}




